{% extends "auctions/layout.html" %}

{% block body %}

{% if category == 0 %}
    <h1>  Categories </h1>
    {% for key,value in map_category.items %}
    <span> 
        <a href="{% url 'categories' key %}" class="btn btn-primary">{{ value }} </a>
    </span>
    {% endfor %}

{% else %}
    <h1 class="m-4 btn btn-outline-info"> {{ category_name }} </h1>
    {% for product in products %}
        {% if product.active %}
        <div class="m-4">
            <image src="{{ product.image }}" alt="Image of {{ product.item }}" width="200" height="200" href="{% url 'listing' product.id %}">
            <p> PKR {{ product.bid }}</p>
            <p> {{ product.item }}</p>
            <p> {{ product.description }}</p>
            <p> Posted by {{ product.seller }} on {{ product.posted_on }}</p>
            <div class = "mt-4">
                {% if user.is_authenticated %}
                    <a href="{% url 'listing' product.id %}" class="btn btn-primary">Visit</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Log in to make an offer</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
{% endfor %}
<a href="{% url 'categories' 0 %}" class="btn btn-info"> Back </a>
{% endif %}

{% endblock %}